led-snake-grid {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  margin: auto;
}

led-snake-grid-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

led-snake-grid-row.even {
  flex-direction: row-reverse;
}
