animation-editor main-area {
  display: flex;
  margin: 0;
  padding: 0;
}
animation-editor editor-area,
animation-editor.playing playback-area {
  display: block;
  flex: 1;
  padding: 20px;
}

animation-editor playback-area,
animation-editor.playing editor-area {
  display: none;
  flex: 0;
}

animation-editor button {
  display: block;
  margin: auto;
}

animation-editor editor-box {
  display: block;
  width: 100%;
  max-width: 600px;
  background: var(--light-background);
  border-radius: 10px;
  margin: auto;
  padding-bottom: 20px;
}

animation-editor editor-box button-area {
  display: flex;
  justify-content: space-between;
}

animation-editor play-button {
  display: block;
  color: var(--purple);
  fill: var(--purple);
  margin: auto;
  flex: 1;
  cursor: pointer;
}
