animation-selector {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 600px;
}

animation-selector h1 {
  text-align: center;
}

animation-selector form-area {
  display: block;
  width: 100%;
  text-align: center;
}
