animation-toolbar {
  display: flex;
  margin: 0;
  padding: 0;
  background: var(--light-background);
}

animation-toolbar back-button {
  display: block;
  width: 300px;
  padding: 10px 10px 0 10px;
}

animation-toolbar back-button svg {
  height: 32px;
  width: 20px;
}

animation-toolbar back-button svg path {
  fill: #c0c0c0;
}

animation-toolbar p {
  display: block;
  flex: 1;
  padding: 7px;
  margin: 0;
  width: 100%;
  text-align: center;
}

animation-toolbar div {
  width: 100%;
}
