:root {
  --light-background: #121113;
  --background: #0f0e10;
  --input-background: #111112;
  --border: #1c1c1c;
  --purple: #8556d7;
  --gray: #5c5c5c;
  --accent: #59399a;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  background-color: var(--background);
  color: #c0c0c0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button {
  font-size: 24px;
  border-radius: 5px;
  background: transparent;
  color: #c0c0c0;
  border: 3px solid var(--accent);
  width: 200px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

li {
  border-bottom: 2px solid var(--accent);
  cursor: pointer;
}

input {
  display: block;
  margin: auto;
  font-size: 24px;
  margin-bottom: 20px;
  width: 300px;
  border: 2px solid var(--border);
  border-radius: 5px;
  padding: 0 5px;
  text-align: center;
  background: var(--input-background);
  color: var(--gray);
}

@import './elements/grids/led-cell.css';
@import './elements/grids/led-snake-grid.css';
@import './elements/frames/frame-duration.css';
@import './elements/frames/frame-element.css';
@import './elements/frames/frame-sidebar.css';
@import './elements/pallette/pallette-color-wheel.css';
@import './elements/pallette/pallette-color.css';
@import './elements/pallette/pallette-selector.css';
@import './elements/pallette/pallette-sidebar.css';

@import './elements/animation-editor.css';
@import './elements/animation-export.css';
@import './elements/animation-selector.css';
@import './elements/animation-toolbar.css';
