pallette-selector p {
  text-align: center;
}

pallette-selector form-area {
  display: block;
  width: 100%;
  text-align: center;
}

pallette-selector form-area input {
  width: 100%;
}

pallette-selector add-pallette {
  display: block;
  text-align: center;
  color: var(--purple);
  cursor: pointer;
}
