pallette-color {
  display: flex;
  margin: 10px 0;
}

pallette-color color-swatch {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

pallette-color p {
  display: block;
  flex: 1;
  padding: 0 10px;
  margin: auto;
}

pallette-color color-actions {
  display: block;
  margin: auto;
  fill: var(--gray);
}

pallette-color color-action {
  cursor: pointer;
}

pallette-color color-action:hover {
  fill: var(--purple);
}
