pallette-color-wheel {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

pallette-color-wheel #color-wheel {
  margin-bottom: 20px;
}

pallette-color-wheel add-color {
  display: block;
  color: var(--purple);
  cursor: pointer;
}
