frame-sidebar {
  display: block;
  width: 300px;
  padding: 20px;
  height: 95vh;
  text-align: center;
  overflow-y: scroll;
  background: var(--light-background);
}

frame-sidebar add-frame {
  color: var(--purple);
  cursor: pointer;
}

frame-sidebar::-webkit-scrollbar {
  width: 0 !important;
}
