frame-element {
  display: flex;
  width: 100%;
  cursor: pointer;
  text-align: left;
  padding: 5px;
}

frame-element:last-of-type {
  margin-bottom: 10px;
}

frame-element.selected,
frame-element.active {
  color: var(--purple);
}

frame-element.active {
  border-left: 2px solid var(--purple);
}

frame-element:hover {
  background: var(--background);
}

frame-element name {
  display: block;
  flex: 1;
}

frame-element actions {
  display: none;
  fill: var(--gray);
}

frame-element:hover actions {
  display: block;
}

frame-element action:hover {
  fill: var(--purple);
}
